/*
 *	Webookia CSS.
 */
body.webookia {
	background-color: rgb(247, 247, 247);
}

body.webookia a:link {
	text-decoration: none;
}

.topWidthElement {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Animation */
.animate {
	transition: all .2s;
}

/* Header */
#headerContainer {
	height: 80px;
	background: transparent url('/resources/heading.png') top left repeat;
	border-bottom: 1px solid #bbbbbb;
}

/* Topbar */
#topbar {
	height: 30px;
	padding: 10px 0;
}

/* Logo */
#logo {
	float: left;
}

/*Search*/
#searchContainer {
	float: left;
	margin-left: 55px;
	border: 1px solid #bbbbbb;
	background: #f7f7f7;
	border-radius: 2px;
}

#searchContainer>form>input {
	border: none;
	background: none;
	display: inline;
}

#searchContainer .searchText {
	height: 26px;
	width: 250px;
	color: #777777;
	border: none;
	background: none;
	padding-left: 7px;
	font-family: 'Alef';
}

#searchContainer .searchSubmit {
	font-size: 0px;
	height: 28px;
	width: 28px;
	background: url('/resources/search.png') center center no-repeat;
	vertical-align: top;
}

#searchContainer .searchSubmit:hover {
	background-image: url('/resources/search-hover.png');
}

/* User corner */
#userCorner {
	float: right;
	height: 34px;
}

#fbLogin {
	background-color: #3b5998;
	padding: 5px 10px 2px;
	border-radius: 2px;
	border-bottom: 3px solid #6d84b4;
}

#fbLogin:hover {
	background-color: #6d84b4;
}

#fbLogin img {
	background: transparent url('/resources/f.png');
	height: 20px;
	width: 10px;
	vertical-align: text-top;
}

#fbLogin .loginText {
	font-family: 'Alef';
	font-weight: bold;
	color: #f7f7f7;
	font-size: 16px;
	margin-left: 5px;
}

#userCorner .profilePicture{
    height: 28px;
    width: 28px;
    border-radius: 2px;
    border: 1px solid #bbbbbb;
}

#userCorner .username{
    font-family: 'Alef';
    color: #777777;
    vertical-align: super;
    margin-left: 5px;
}

/* Tabs*/
#menuContainer {
	position: relative;
	z-index: 200;
}

#menu .entry {
	width: 85px;
	height: 30px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #bbbbbb;
	float: left;
	text-align: center;
	margin-right: 10px;
}

#menu .entry:not(.selected){
	border-color:transparent;
	color: #a8a8a8;
}

#menu .entry:not(.selected):hover {
	border-color: #bbbbbb;
	background-color: rgba(247, 247, 247, .5);
}

#menu .entry.selected {
	background-color: rgb(247, 247, 247);
}

#menu .entry .tabLink {
	color: #555555;
	font-family: 'Alef';
	margin: 1px;
	border-top: 2px solid transparent;
	font-size: 15px;
	line-height: 27px;
	text-decoration: none;
	vertical-align: middle;
	display: block;
}

#menu .entry.selected .tabLink {
	border-color: #3b5998;
	color: #3b5998;
}

/*Content*/
#content {
	min-height: 250px;
	margin-top: 30px;
}

.sectionTitle,
.paragraph:not(:last-child){
	margin-bottom: 15px;
}

.contentSection:not(:last-child){
	margin-bottom: 25px;
}

.sectionTitle{
	font-family: 'Alef';
	font-size: 17px;
	font-weight: bold;
	color: #3b5998;
}

.sectionContent{
	margin-left: 20px;
}

.paragraph{
	font-family: Tahoma;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

#createBookForm{
	text-align: center;
}

#createBookForm .textInput{
	height: 28px;
	font-size: 20px;
}

#createBookForm .submitInput{
	height: 32px;
	font-size: 15px;
	vertical-align: top;
}

.textInput{
	border: 1px solid #bbbbbb;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1) inset;
	border-radius: 2px;
	font-family: Tahoma;
	color: #666666;
}

.submitInput{
	border-radius: 2px;
	font-family: Tahoma;
	color: #f7f7f7;
	border: 1px solid rgba(0,0,0,.1);
	background: #3b5998;
	cursor: pointer;
}

.submitInput:hover {
	background-color: #6d84b4;
}

 /* Book presentation */
.bookPresentation{
	width: 150px;
	float: left;
	text-align: center;
	font-family: Tahoma;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	border: 1px solid transparent;
	padding: 6px;
	margin-right: 10px;
	border-radius: 2px;
}

.bookPresentation:hover{
	border: 1px solid #bbbbbb;
	background: #eeeeee;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.1) inset;
}

.bookPicture{
	width: 110px;
	border-radius: 2px;
}

.bookPresentation .title{
	font-weight: bold;
	color: #333333;
}

.bookPresentation .property {
	margin-top: 5px;
}


.bookPresentation .property > span{
	border-radius: 2px;
	padding: 2px 4px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.6) inset;
	font-weight: lighter;
	font-size: 13px;
	color: rgba(0,0,0,.6);
}

.bookPresentation .privacy{
	float: left;
	background: red;
}

.bookPresentation .status{
	float: right;
}

.bookPresentation .status.available{
	background: #6ebe48;
}

.bookPresentation .status.lent{
	background: #dc6e24;
}

.bookPresentation .status.notAvailable{
	background: #dc4747;
}

.bookPresentation .privacy.public{
	background: #2f8be0;
}

.bookPresentation .privacy.friends{
	background: #eae14b;
}

.bookPresentation .privacy.private{
	background: #ce59df;
}