<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<context-param>
		<param-name>slim3.rootPackage</param-name>
		<param-value>it.webookia.backend</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>application</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<filter>
		<filter-name>HotReloadingFilter</filter-name>
		<filter-class>org.slim3.controller.HotReloadingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>DatastoreFilter</filter-name>
		<filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
	</filter>
	<filter>
		<filter-name>FrontController</filter-name>
		<filter-class>org.slim3.controller.FrontController</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HotReloadingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DatastoreFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FrontController</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>GlobalTransactionServlet</servlet-name>
		<servlet-class>org.slim3.datastore.GlobalTransactionServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>KtrWjrServiceServlet</servlet-name>
		<servlet-class>bufferings.ktr.wjr.server.service.KtrWjrServiceServlet
		</servlet-class>
	</servlet>

	<servlet>
		<description>JAX-RS Tools Generated - Do not modify</description>
		<servlet-name>JAX-RS</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GlobalTransactionServlet</servlet-name>
		<url-pattern>/slim3/gtx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>KtrWjrServiceServlet</servlet-name>
		<url-pattern>/ktrwjr/ktrwjr/ktrwjr.s3gwt</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JAX-RS</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Webookia services -->
	<!-- Authentication -->
	<servlet>
		<servlet-name>Authentication</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Authentication
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Authentication</servlet-name>
		<url-pattern>/authentication/*</url-pattern>
	</servlet-mapping>

	<!-- Home -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Home
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home/*</url-pattern>
	</servlet-mapping>

	<!-- Home -->
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Dashboard
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard/*</url-pattern>
	</servlet-mapping>

	<!-- Users -->
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Users
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>

	<!-- Books -->
	<servlet>
		<servlet-name>Books</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Books
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Books</servlet-name>
		<url-pattern>/books/*</url-pattern>
	</servlet-mapping>

	<!-- Loans -->
	<servlet>
		<servlet-name>Loans</servlet-name>
		<servlet-class>it.webookia.backend.controller.services.Loans
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Loans</servlet-name>
		<url-pattern>/loans/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/slim3/gtx</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/ktrwjr/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
</web-app>
