/*
 *	Webookia CSS.
 */
body.webookia {
	background-color: rgb(247, 247, 247);
	color: #111111;
}

body.webookia a:link {
	text-decoration: none;
}

.topWidthElement {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Animation */
.animate {
	transition: all .2s;
}

/* Header */
#headerContainer {
	height: 80px;
	background: transparent url('/resources/heading.png') top left repeat;
	border-bottom: 1px solid #bbbbbb;
}

/* Topbar */
#topbar {
	height: 30px;
	padding: 10px 0;
}

/* Logo */
#logo {
	float: left;
}

/*Search*/
#searchContainer {
	float: left;
	margin-left: 55px;
	border: 1px solid #bbbbbb;
	background: #f7f7f7;
	border-radius: 2px;
}

#searchContainer>form>input {
	border: none;
	background: none;
	display: inline;
}

#searchContainer .searchText {
	height: 26px;
	width: 250px;
	color: #777777;
	border: none;
	background: none;
	padding-left: 7px;
	font-family: 'Alef';
}

#searchContainer .searchSubmit {
	font-size: 0px;
	height: 28px;
	width: 28px;
	background: url('/resources/search.png') center center no-repeat;
	vertical-align: top;
}

#searchContainer .searchSubmit:hover {
	background-image: url('/resources/search-hover.png');
}

/* User corner */
#userCorner {
	float: right;
	height: 34px;
}

#fbLogin {
	background-color: #3b5998;
	padding: 5px 10px 2px;
	border-radius: 2px;
	border-bottom: 3px solid #6d84b4;
}

#fbLogin:hover {
	background-color: #6d84b4;
}

#fbLogin img {
	background: transparent url('/resources/f.png');
	height: 20px;
	width: 10px;
	vertical-align: text-top;
}

#fbLogin .loginText {
	font-family: 'Alef';
	font-weight: bold;
	color: #f7f7f7;
	font-size: 16px;
	margin-left: 5px;
}

.userThumb{
	display: inline-block;
	border: 3px solid white;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2);
	margin-bottom: 0px;
}

.profilePicture{
	vertical-align: bottom;
}

#userCorner .profilePicture{
    height: 28px;
    width: 28px;
    border-radius: 2px;
    border: 1px solid #bbbbbb;
}

#userCorner .username{
    font-family: 'Alef';
    color: #777777;
    vertical-align: super;
    margin-left: 5px;
}

/* Tabs*/
#menuContainer {
	position: relative;
	z-index: 200;
}

#menu .entry {
	width: 85px;
	height: 30px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #bbbbbb;
	float: left;
	text-align: center;
	margin-right: 10px;
}

#menu .entry:not(.selected){
	border-color:transparent;
	color: #a8a8a8;
}

#menu .entry:not(.selected):hover {
	border-color: #bbbbbb;
	background-color: rgba(247, 247, 247, .5);
}

#menu .entry.selected {
	background-color: rgb(247, 247, 247);
}

#menu .entry .tabLink {
	color: #555555;
	font-family: 'Alef';
	margin: 1px;
	border-top: 2px solid transparent;
	font-size: 15px;
	line-height: 27px;
	text-decoration: none;
	vertical-align: middle;
	display: block;
}

#menu .entry.selected .tabLink {
	border-color: #3b5998;
	color: #3b5998;
}

/*Content*/
.left{
	float: left;
}

.right{
	float: right;
}

.empty{
	text-align: center;
	color: #555555;
	margin-bottom: 25px;
}

/* ERRORS */
.errorHeader{
	margin: 30px 0;
	font-family: 'Alef';
	color: #983b3b;
	text-align: center;
	font-size: 40px;
	text-shadow: 0 2px 1px rgba(0,0,0,.3);
}

.errorText{
	color: #222222;
	margin-bottom: 20px;
}

.stackTrace{
	font-family: monospace;
	line-height: 5px;
}

.stackTrace.cause{
	margin-top: 10px;
}

#content {
	font-family: Tahoma;
	min-height: 250px;
	margin-top: 30px;
}

.hidden{
	display: none;
}

/* Sections */
.sectionTitle,
.paragraph:not(:last-child){
	margin-bottom: 15px;
}

.contentSection:not(:last-child){
	margin-bottom: 35px;
}

.sectionTitle{
	font-family: 'Alef';
	color: #3b5998;
}

h1.sectionTitle{
	font-size: 22px;
}

h2.sectionTitle{
	font-size: 18px;
}

.sectionContent{
	margin-left: 20px;
	line-height: 25px;
}

.paragraph{
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

/* Statuses */
.privacy,
.status {
	font-size: 13px;
	padding: 2px 4px;
	color: rgba(0,0,0,.65);
	box-shadow: 0 0 0 1px rgba(0,0,0,.35) inset;
	border-radius: 2px;
	text-transform: uppercase; 
}

.status.initial{
	background-color: #d5d5d5;
}

.status.accepted{
	background-color: #89d67a; 
}

.status.refused{
	background-color: #d67a7a;
}

.status.shipped{
	background-color: #d6987a;
}

.status.givenBack{
	background-color: #7aa7d6;
}

/* Book creation*/
#createBookForm{
	text-align: center;
}

#createBookForm .textInput{
	height: 28px;
	font-size: 20px;
}

#createBookForm .submitInput{
	height: 32px;
	font-size: 15px;
	vertical-align: top;
}

.textInput{
	border: 1px solid #bbbbbb;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1) inset;
	border-radius: 2px;
	font-family: Tahoma;
	color: #666666;
	padding: 0 4px;
}

.submitInput,
.button{
	display: inline-block;
	background-color: #3b5998;
	padding: 2px 7px;
	border-radius: 2px;
	border: none;
	font-family: 'Alef';
	font-weight: bold;
	color: #f7f7f7;
	font-size: 16px;
	margin-left: 5px;
	text-decoration: none;
	box-shadow: 0 -3px 0 0 rgba(0,0,0,.3) inset;
}

a.button:visited{
	color: white;
}

.submitInput:hover,
a.button:hover {
	background-color: #6d84b4;
	cursor: pointer;
}

 /* Book presentation */
.bookPresentation{
	width: 150px;
	float: left;
	text-align: center;
	font-family: Tahoma;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	border: 1px solid transparent;
	padding: 6px;
	margin-right: 10px;
	border-radius: 2px;
}

.bookPresentation:hover{
	border: 1px solid #bbbbbb;
	background: #eeeeee;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.1) inset;
}

.bookPresentation .bookPicture{
	width: 110px;
	border-radius: 2px;
}

.bookPresentation .title{
	font-weight: bold;
	color: #333333;
}

.bookPresentation .property {
	margin-top: 5px;
}

.bookPresentation .privacy{
	float: left;
}

.bookPresentation .status{
	float: right;
}

.bookPresentation .status.available{
	background: #6ebe48;
}

.bookPresentation .status.lent{
	background: #dc6e24;
}

.bookPresentation .status.notAvailable{
	background: #dc4747;
}

.bookPresentation .privacy.public{
	background: #2f8be0;
}

.bookPresentation .privacy.friends{
	background: #eae14b;
}

.bookPresentation .privacy.private{
	background: #ce59df;
}

/* Book Detail*/
.details .detailContainer{
	margin-left: 25px;
	width: 600px;
}

.details .detailContainer .sectionContent > div{
	margin-top: 15px;
}

.details .detailContainer .title{
	font-weight: bold;
	font-size: 20px;
}

/* Messages */
.message .messageBody{
 	width: 250px;
}

.message > .userThumb,
.message > .arrow,
.message > .messageBody{
	position: relative;
	display: inline-block;
}

.message.self > .userThumb,
.message.self > .arrow,
.message.self > .messageBody{
	float: left;
}

.message.other > .userThumb,
.message.other > .arrow,
.message.other > .messageBody{
	float: right;
}

.message.other > .arrow{
	margin: 12px -4px 0 -1px;
	transform: scaleX(-1);
}

.message.self > .arrow{
	margin: 12px -1px 0 -4px;
}

.message > .arrow{
	background: url('../resources/arrow.png');
	height: 14px;
	width: 11px;
	z-index: 20;
}

.message .messageHeader{
	font-size: 12px;
	color: #aaaaaa;
	cursor: default;
}

.message .messageBody{
	border: 1px solid #bbbbbb;
	background: white;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
	color: #444444;
	line-height: 24px;
	z-index: 1;
}

.message .messageInput{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	border: none;
	font-family: Tahoma;
	color: #444444;
	line-height: 24px;
}

/* Review */
.message.review .messageBody{
 	width: 400px;
}

.comment.self{
	margin-left: 45px;
}

/*Elem list*/
.elemList{
    width: 100%;
}

.elemList .elem .property{
    font-size: 15px;
}

.elemList .listHead .property{
	color: #3b5998;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.completeSearchForm{
	
}

.completeSearchForm .searchLine{
	margin: 0 auto 10px;
	width: 560px;
}

.completeSearchForm .textInput,
.completeSearchForm .searchLabel{
	display: inline-block;	
	height: 28px;
}

.completeSearchForm .textInput{
	font-size: 16px;
	width: 75%;
}

.completeSearchForm .searchLabel{
	width: 20%;
	color: #777777;
}

.completeSearchForm .submitInput{
	display: block;
	margin: 0 auto;
}


.resultList{
	margin: 0 auto;
	width: 660px;
}

.result{
	padding: 10px;
	border-top: 1px solid #bbbbbb;
}

.result:last-child{
	border-bottom: 1px solid #bbbbbb;
}

.result .pictureContainer .bookPicture{
	height: 120px;
}

.result .resultDetails{
	margin-left: 10px;
	max-width: 440px;
}

.result:hover{
	background: #eeeeee;
}

.result .resultDetails .detail{
	color: #444444;
	margin-bottom: 10px;
}

.result .resultDetails .detail.title{
	font-size: 22px;
}

a.button.select{
	margin-top: 40px;
}

.concreteDisplay{
	border-top: 1px solid #bbbbbb;
}

#concreteList{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	z-index: 10;
	height: 700px;
	overflow-y: auto;
}

#map{
	position: relative;
	display: inline-block;
	background-color: blue;
	width: 700px;
	height: 700px;
	margin-left: -5px;
	z-index: 2;
}

.concrete{
	padding: 5px;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer;
	position: relative;
	z-index: 10
}

.concrete:hover{
	background: #6d84b4;
}

.concrete .userThumb,
.concrete .concreteDetail{
	float: left;
	vertical-align: top;
}

.concreteDetail{
	margin-left: 5px;
	font-size: 14px;
	line-height: 14px;
}

.concreteDetail > div{
	margin-bottom: 5px;
}

.concreteDetail .name{
	color: #222222;
	font-weight: bold;
}

.concrete:hover .concreteDetail .name{
	color: white;
}

.concrete:hover .concreteDetail .location{
	color: rgba(255,255,255,.8);
}

.concreteDetail .location{
	color: #666666;
}

.concretePopup{
	position: absolute;
	z-index: 200;
	top: 45px;
	border: 1px solid rgba(0,0,0,.2);
	background: white;
	background-clip: content-box;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
	margin-left: 1px;
}

.concretePopup .text{
	padding: 5px 10px;
}

.concretePopup .arrow{
	width: 14px;
	height: 10px;
	margin-left: 15px;
	background-image: url('../resources/popup-arrow.png');
	margin-top: -10px;
}

.concretePopup .buttons{
	padding: 0 10px 5px;
	text-align: center;
}

.concretePopup .buttons .button{
	width: 40px;
}

.concrete.selected .ask{
	display: inline;
}

.ask{
	display: none;
}