/*
 *	Webookia CSS.
 */

body.webookia {
	background-color: rgb(247, 247, 247);
	color: #111111;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

a:link {
	text-decoration: none;
	color: #3b5998;
}

img{
	vertical-align: bottom;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #768199;
}

.topWidthElement {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Animation */
.animate {
	transition: all .2s;
}

/* Header */
#headerContainer {
	height: 80px;
	background: transparent url('/resources/heading.png') top left repeat;
	border-bottom: 1px solid #bbbbbb;
	z-index: 200;
}

/* Topbar */
#topbar {
	position: relative;
	height: 30px;
	padding: 10px 0;
	z-index: 200;
}

/* Logo */
#logo {
	float: left;
}

/*Search*/
#searchContainer {
	float: left;
	margin-left: 55px;
	border: 1px solid #bbbbbb;
	background: #f7f7f7;
	border-radius: 2px;
}

#searchContainer>form>input {
	border: none;
	background: none;
	display: inline;
}

#searchContainer .searchText {
	height: 26px;
	width: 250px;
	color: #777777;
	border: none;
	background: none;
	padding-left: 7px;
	font-family: 'Alef';
}

#searchContainer .searchSubmit {
	font-size: 0px;
	height: 28px;
	width: 28px;
	background: url('/resources/search.png') center center no-repeat;
	vertical-align: top;
}

#searchContainer .searchSubmit:hover {
	background-image: url('/resources/search-hover.png');
}

/*Notification*/
.topBarInteraction{
	border: 0px solid #bbbbbb;
	border-radius: 2px;
}

.topBarInteraction:hover{
	border-color: #3b5998;
}

#notificationContainer .notificationButton{
	float: left;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: transparent url('/resources/bang.png') center center no-repeat;
}

#notificationContainer .notificationButton:hover{
	background: #e8e8e8 url('/resources/bang-hover.png') center center no-repeat;
}

#notificationContainer.open .notificationButton{
	background: #e8e8e8 url('/resources/bang-hover.png') center center no-repeat;
}

#notificationContainer .notificationPanel{
	position: absolute;
	width: 250px;
}

.calloutBody{
	max-height: 250px;
	overflow: auto;
}

.calloutArrow{
	position: relative;
	background: url('../resources/arrow-top.png');
	height: 11px;
	width: 16px;
	z-index: 20;
	margin: 0 0 -2px 20px;
}

.calloutBody{
	border: 1px solid #bbbbbb;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
	color: #444444;
	line-height: 24px;
	z-index: 1;
	min-height: 20px;
}

.calloutBody .empty{
	padding: 20px;
	margin-bottom: 0;
}

.notification{
	padding: 7px;
	cursor: pointer;
}

.notification:hover{
	background-color: #eeeeee;
}

.notification.unread{
	color: #3b5998;
	font-weight: bold;
}

.notification:not(:last-child){
	border-bottom: 1px solid #dddddd;
}

.unreadCount{
	background: #3b5998;
	display: inline;
	position: relative;
	top: 0;
	right: -12px;
	color: white;
	padding: 2px;
	font-weight: bold;
	font-size: 10px;
	border-radius: 2px;
}

.notification .date{
	color: #aaaaaa;
	font-size: 12px;
}

/* User corner */
#userCorner {
	float: right;
	height: 34px;
}

#fbLogin {
	background-color: #3b5998;
	padding: 5px 10px 2px;
	border-radius: 2px;
	border-bottom: 3px solid #6d84b4;
}

#fbLogin:hover {
	background-color: #6d84b4;
}

#fbLogin img {
	background: transparent url('/resources/f.png');
	height: 20px;
	width: 10px;
	vertical-align: text-top;
}

#fbLogin .loginText {
	font-family: 'Alef';
	font-weight: bold;
	color: #f7f7f7;
	font-size: 16px;
	margin-left: 5px;
}

.userThumb{
	display: inline-block;
	border: 3px solid white;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2);
	margin-bottom: 0px;
}

.profilePicture{
	vertical-align: bottom;
}

#userCorner .profilePicture{
    height: 28px;
    width: 28px;
    border-radius: 2px;
    border: 1px solid #bbbbbb;
}

#userCorner .username{
    font-family: 'Alef';
    color: #777777;
    vertical-align: super;
    margin-left: 5px;
}

#userCorner .logout{
	vertical-align: super;	
}

#userCorner .logout a:hover{
	text-decoration: underline;
}

/* Tabs*/
#menuContainer {
	position: relative;
	z-index: 100;
}

#menu .entry {
	width: 85px;
	height: 30px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #bbbbbb;
	float: left;
	text-align: center;
	margin-right: 10px;
}

#menu .entry:not(.selected){
	border-color:transparent;
	color: #a8a8a8;
}

#menu .entry:not(.selected):hover {
	border-color: #bbbbbb;
	background-color: rgba(247, 247, 247, .5);
}

#menu .entry.selected {
	background-color: rgb(247, 247, 247);
}

#menu .entry .tabLink {
	color: #555555;
	font-family: 'Alef';
	margin: 1px;
	border-top: 2px solid transparent;
	font-size: 15px;
	line-height: 27px;
	text-decoration: none;
	vertical-align: middle;
	display: block;
}

#menu .entry.selected .tabLink {
	border-color: #3b5998;
	color: #3b5998;
}

/*Content*/
.left{
	float: left;
}

.right{
	float: right;
}

.empty{
	text-align: center;
	color: #555555;
	margin-bottom: 25px;
}

/** Error Notification **/
.shadowBox.errorNotificationContainer{
	margin-top: 40px;
	width: 620px;
}

.errorNotificationContainer .errorHeading{
	padding: 15px;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #3b5998;
}

.errorNotificationContainer .errorBody{
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
}

.stackTrace{
	font-family: monospace;
	line-height: 5px;
}

.stackTrace.cause{
	margin-top: 10px;
}

.content {
	min-height: 250px;
	margin-top: 30px;
}

.hidden{
	display: none;
}

/*Error message*/
#errorContainer{
	margin: 0 auto;
	width: 700px;
	text-align: center;
}

.error{
	background-color: #ff7c7c;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 2px;
	vertical-align: middle;
	margin-bottom: 10px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset,
				0 0 3px 0 rgba(0,0,0,.1);
	font-size: 15px;
}

.error .errorText{
	clear: right;
	float: left;
}

.error .close{
	float: right;
	cursor: pointer;
	font-weight: bold;
	color: rgba(0,0,0,.3)
}

.error .close:hover{
	color: rgba(0,0,0,.6)
}

/* Sections */
.sectionTitle,
.paragraph:not(:last-child){
	margin-bottom: 15px;
}

.contentSection{
	margin-top: 25px;
}

.sectionTitle{
	font-family: 'Alef';
	color: #3b5998;
	
}

h1.sectionTitle{
	font-size: 22px;
}

h2.sectionTitle{
	font-size: 18px;
}

.sectionContent{
	margin-left: 20px;
	line-height: 25px;
}

.paragraph{
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

/* Statuses */
.privacy,
.status {
	font-size: 13px;
	padding: 2px 4px;
	color: rgba(0,0,0,.65);
	box-shadow: 0 0 0 1px rgba(0,0,0,.35) inset;
	border-radius: 2px;
	text-transform: uppercase; 
}

.status.initial{
	background-color: #d5d5d5;
}

.status.accepted{
	background-color: #89d67a; 
}

.status.refused{
	background-color: #d67a7a;
}

.status.shipped{
	background-color: #d6987a;
}

.status.givenBack{
	background-color: #7aa7d6;
}

/* Book creation*/
#createBookForm{
	text-align: center;
}

#createBookForm .textInput{
	height: 28px;
	font-size: 20px;
}

#createBookForm .submitInput{
	height: 32px;
	font-size: 15px;
	vertical-align: top;
}

.textInput{
	border: 1px solid #bbbbbb;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1) inset;
	border-radius: 2px;
	color: #666666;
	padding: 0 4px;
}

button.button,
.submitInput,
a.button{
	display: inline-block;
	background-color: #3b5998;
	padding: 4px 8px !important;
	border-radius: 2px;
	border: none;
	font-family: 'Alef';
	font-weight: bold;
	color: #f7f7f7 !important;
	font-size: 16px;
	margin-left: 5px;
	text-decoration: none;
	box-shadow: 0 -3px 0 0 rgba(0,0,0,.3) inset;
}

a.button{
	padding: 8px;
}

a.button:hover,
a.button:visited{
	color: white;
	text-decoration: none;
}

.submitInput:hover,
.button:hover {
	background-color: #6d84b4;
	cursor: pointer;
}

.button:active{
	box-shadow: 0 -2px 0 0 rgba(0,0,0,.3) inset,
				0 1px 0 0 white inset;
}

 /* Book presentation */
.bookPresentation{
	width: 150px;
	float: left;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	border: 1px solid transparent;
	padding: 6px;
	margin-right: 10px;
	border-radius: 2px;
}

.bookPresentation:hover{
	border: 1px solid #bbbbbb;
	background: #eeeeee;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.1) inset;
}

.bookPresentation .bookPicture{
	width: 110px;
	border-radius: 2px;
}

.bookPresentation .title{
	font-weight: bold;
	color: #333333;
}

.bookPresentation .property {
	margin-top: 5px;
}

.bookPresentation .privacy{
	float: left;
}

.bookPresentation .status{
	float: right;
}

.status.available{
	background: #6ebe48;
}

.status.lent{
	background: #dc6e24;
}

.status.notAvailable{
	background: #dc4747;
}

.privacy.public{
	background: #2f8be0;
}

.privacy.friends{
	background: #eae14b;
}

.privacy.private{
	background: #ce59df;
}

/* Book Detail*/
.details .detailContainer{
	margin-left: 25px;
}

.details .detailContainer .sectionContent > div{
	margin-top: 15px;
}

.details .detailContainer .title{
	font-weight: bold;
	font-size: 20px;
}

/* Messages */
.message{
	margin-bottom: 20px;
}

.message .messageBody{
 	width: 250px;
}

.message > .userThumb,
.message > .arrow,
.message > .messageBody{
	position: relative;
	display: inline-block;
}

.message.self > .userThumb,
.message.self > .arrow,
.message.self > .messageBody{
	float: left;
}

.message.other > .userThumb,
.message.other > .arrow,
.message.other > .messageBody{
	float: right;
}

.message.other > .arrow{
	margin: 12px -4px 0 -1px;
	transform: scaleX(-1);
}

.message.self > .arrow{
	margin: 12px -1px 0 -4px;
}

.message > .arrow{
	background: url('../resources/arrow.png');
	height: 14px;
	width: 11px;
	z-index: 20;
}

.message .messageHeader{
	font-size: 12px;
	color: #aaaaaa;
	cursor: default;
}

.message .messageBody{
	border: 1px solid #bbbbbb;
	background: white;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
	color: #444444;
	line-height: 24px;
	z-index: 1;
}

.message .messageInput{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	border: none;
	color: #444444;
	line-height: 24px;
}

/* Review */
.message.review .messageBody{
 	width: 400px;
}

.comment.self{
	margin-left: 45px;
}

/*Elem list*/
.elemList{
    width: 100%;
}

.elemList .elem .property{
    font-size: 15px;
}

.elemList .elem .property:first-child{
	width: 40%;
}

.elemList .listHead .property{
	color: #3b5998;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.completeSearchForm{
	
}

.completeSearchForm .searchLine{
	margin: 0 auto 10px;
	width: 560px;
}

.completeSearchForm .textInput,
.completeSearchForm .searchLabel{
	display: inline-block;	
	height: 28px;
}

.completeSearchForm .textInput{
	font-size: 16px;
	width: 75%;
}

.completeSearchForm .searchLabel{
	width: 20%;
	color: #777777;
}

.completeSearchForm .submitInput{
	display: block;
	margin: 0 auto;
}

a.button.select{
	margin-top: 40px;
}

#concreteDisplay{
	border-top: 1px solid #bbbbbb;
}

#concreteList{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	z-index: 10;
	height: 700px;
	overflow-y: auto;
}

#map{
	position: relative;
	display: inline-block;
	background-color: blue;
	width: 700px;
	height: 700px;
	margin-left: -5px;
	z-index: 2;
}

.concrete{
	padding: 5px;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer;
	position: relative;
	z-index: 10
}

.concrete:hover{
	background: #6d84b4;
}

.concrete .userThumb,
.concrete .concreteDetail{
	float: left;
	vertical-align: top;
}

.concreteDetail{
	margin-left: 5px;
	font-size: 14px;
	line-height: 14px;
}

.concreteDetail > div{
	margin-bottom: 5px;
}

.concreteDetail .name{
	color: #222222;
	font-weight: bold;
}

.concrete:hover .concreteDetail .name{
	color: white;
}

.concrete:hover .concreteDetail .location{
	color: rgba(255,255,255,.8);
}

.concreteDetail .location{
	color: #666666;
}

.concretePopup{
	position: absolute;
	z-index: 200;
	top: 45px;
	border: 1px solid rgba(0,0,0,.2);
	background: white;
	background-clip: content-box;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
	margin-left: 1px;
	width: 180px;
	margin-left: 50px;
}

.concretePopup .text{
	padding: 5px 10px;
}

.concretePopup .arrow{
	width: 14px;
	height: 10px;
	margin-left: 15px;
	background-image: url('../resources/popup-arrow.png');
	margin-top: -10px;
}

.concretePopup .buttons{
	padding: 0 10px 5px;
	text-align: center;
}

.concretePopup .buttons .button{
	width: 40px;
}

.concrete.selected .ask{
	display: inline;
}

.ask{
	display: none;
}

/* Marker */
/* Review */
.message.review .messageBody{
 	width: 400px;
}

.message.review .messageInput{
	max-width: 395px;
	width: 580px;
}

.comment.self{
	margin-left: 45px;
}

.marker .star{
	display: inline-block;
	width: 19px;
	height: 18px;
	background: url('../resources/star.png');
}

.marker .star.active{
	background: url('../resources/star-active.png');
}

.marker.editable .star{
	cursor: pointer;
}
.picureContainer .welcomeImage{
	width: 80px;
	height: 80px;
}

/** DETAIL **/
.userThumb.big .profilePicture{
	width: 80px;
	height: 80px;
}

.shadowBox.narrow{
	width: 620px;
}

.shadowBox{
	background: white;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.15),
				0 0 3px 0 rgba(0,0,0,.1),
				0 1px 1px rgba(0,0,0,.15);
	padding: 15px;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

.details .heading{
	font-weight: bold;
	font-family: alef;
	font-size: 25px;
	color: rgba(0,0,0,.65);
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	margin-bottom: 10px;
}

.details .bookPicture{
	max-width: 125px;
}

.details .detailContainer{
	width: 350px;
	clear: right;
}

.details .detail{
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: 12px;
}

.details .detailName{
	float: left;
	color: rgba(0,0,0,.6);
}

.details .detailValue{
	float: right;	
}

.gBooksLink{
	display: block;
	margin-top: 10px;
}

.details .bottomLine{
	margin-top: 15px;
	text-align: center;
	clear: both;
}

/** TABBED PANELS **/
.tabbedContainer{
	width: 650px;
	margin: 40px auto;
}

.tabbedContainer .tabs{
	background: rgba(0,0,0,.02) !important;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.tabbedContainer .tabs .tab{
	display: inline-block;
	padding: 7px 10px;
	border-width: 1px 1px 0 1px;;
	border-style: solid;
	border-color: transparent;
	margin-bottom: -1px;
	color: rgba(0,0,0,.6);
	font-size: 16px;
}

.tabbedContainer .tabs .tab.selected{
	background-color: white;
	border-color: rgba(0,0,0,.3);
	border-radius: 2px 2px 0 0;
	font-weight: bold;
}

.tabbedContainer .panels{
	border-width: 0 1px 1px 1px;
	border-color: rgba(0,0,0,.3);
	border-style: solid;
	background: white;
	border-radius: 0 0 2px 2px;
}

/** LISTS **/
.list .listElement{
	padding: 15px;
}

.list .listElement:hover{
	background: #eeeeee;
}

.list .listElement:not(:first-child){
	border-top: 1px solid #bbbbbb;
}

.list .listElement .elementDetails{
	margin-left: 15px;
	max-width: 440px;
}

.list .listElement .elementDetails .detail{
	color: #444444;
	margin-bottom: 5px;
	line-height: 25px;
}

.list .listElement .elementDetails .detail.title{
	font-size: 22px;
}

.list.bookList .listElement .pictureContainer .bookPicture{
	max-width: 70px;
}

.list.narrowList{
	margin: 0 auto;
	width: 660px;
}

.list.feedbackList .anonymousFeedback .text{
	margin-top: 10px;
}

.list.withBorder{
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: white;
}

.list .empty{
	padding: 20px;
}

.userList .profilePicture{
	width: 64px;
}

.selectButton{
	vertical-align: super;
}

.welcomeText{
	width: 50%;
}

.welcomeImage{
	width: 50%;
}

.mapPanel .map{
	width: 648px;
	height: 400px;
	display: block;
	z-index: 2;
}

/** FOOTER **/
#footerContainer .footer{
	background: white;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.15),
				0 0 3px 0 rgba(0,0,0,.1),
				0 1px 0 1px rgba(0,0,0,.15);
	padding: 15px;
	border-radius: 2px;
	margin: 40px auto;
}